<extend name="Index/index" />
<block name="main">
    <style>
        a{color:#0000ff;}
        a:hover{text-decoration: none;color:red;}
        h2{color:orange;}
    </style>
    <div class="row">
        <div class="row">
        <div class="col-md-12">
            <center>
                <h2>修改权限</h2>
                <a href="<{:U('Node/index')}>">首页</a>　|　　<a href="<{:U('Node/nodeadd')}>">添加</a>
            </center>
        </div>
    </div>
        <form action="<{:U('Node/doedit')}>" method="post" class="form h4">
            <input type="hidden" name="id" value="<{$data.id}>">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group has-success">
                      <label class="control-label" for="inputSuccess1">权限名称：</label>
                      <input type="text" name="nodename" class="form-control" id="inputSuccess1" value="<{$data.nodename}>">
                    </div>
                </div>
            </div>
            <br>
           <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group has-success">
                      <label class="control-label" for="inputSuccess1">控制器名称：</label>
                      <input type="text" name="controller" class="form-control" id="inputSuccess1" value="<{$data.controller}>">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group has-success">
                      <label class="control-label" for="inputSuccess1">方法名称：</label>
                      <input type="text" name="action" class="form-control" id="inputSuccess1" value="<{$data.action}>">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3" align="center"><input type="submit" value="添加" class="btn btn-primary"></div>
                <div class="col-md-3" align="center"><input type="reset" name="重置" class="btn btn-danger"></div>
            </div>
        </form>
    </div>
</block>