<extend name="Index/index" />
<block name="main">
    <style>
        a{ color:red;font-size: 16px;}
        a:hover{ color:orange;font-size: 16px;text-decoration: none;}
    </style>
    <div class="row">
        <div class="col-md-12">
            <center><h2>后台会员管理</h2></center>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <center><a href="<{:U('Admin/index')}>">首页</a></center>
        </div>
        <div class="col-md-2">
            <center><a href="<{:U('Admin/adminAdd')}>">添加</a></center>
        </div>
        <div class="col-md-4"></div>
    </div>
    <br>
    <div class="row">
        <block name="admin">
            <table class="table h5" style="color:#000;">
                <tr style="background:#8a2be2;color:orange">
                    <th>姓名</th>
                    <th>电话</th>
                    <th>年龄</th>
                    <th>性别</th>
                    <th>邮箱</th>
                    <th>注册时间</th>
                    <th>修改时间</th>
                    <th>级别</th>
                    <th>操作</th>
                    <th></th>
                </tr>
                    <foreach name="list" item="v">
                        <tr>
                            <td><{$v.name}></td>
                            <td><{$v.phone}></td>
                            <td><{$v.age}></td>
                            <td>
                                <if condition="$v['sex'] eq 0">
                                    女
                                    <elseif condition="$v['sex'] eq 1" />
                                        男
                                        <else />
                                        保密
                                </if>
                            </td>
                            <td><{$v.email}></td>
                            <td><{:date('Y-m-d H:i:s',$v['rtime'])}></td>
                            <td><{:date('Y-m-d H:i:s',$v['mtime'])}></td>
                            <td>
                                <if condition="$v['state'] eq 0">
                                    管理员
                                    <else />
                                    超级管理员
                                </if>
                            </td>
                            <td>
                                <a href="<{:U('Admin/edit',['id'=>$v['id']])}>">编辑</a>
                                <a href="<{:U('Admin/del',['id'=>$v['id']])}>">删除</a>
                            </td>
                        </tr>
                    </foreach>
                </tr>
            </table>
            
        </block>
    </div>
</block>