<extend name="index/index" />
<block name="main">
    <center><h2 style="color:#6666ee;">请输入密码</h2></center>
    <form action="<{:U('admin/checked')}>" method="post" class="form form-horizontal h4" style="font-family:华文行楷;">
        <input type="hidden" name="id" value="<{$id}>">
        <div class="row">
            <div class="col-md-6 form-group has-success">
              <label class="control-label" for="input">请输入密码</label>
              <input type="password" name="password" class="form-control" id="input1">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group has-success">
              <label class="control-label" for="input">请确认密码</label>
              <input type="password" class="form-control" id="input2">
              <span id="careful"></span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3"><input type="submit" value="确认" class="btn btn-primary"></div>
        </div>
    </form>
</block>

<block name="javascript">
    <script>
        $(function(){
            $('#input2').blur(function(){
                if($(this).val() !=$('#input1').val()){
                    $('#careful').css('color','red');
                    $('#careful').html('两次密码不相同请重新输入');
                }
            })
        })
    </script>
</block>