<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
            <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="__PUBLIC__/assets/ico/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="__PUBLIC__/assets/ico/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="__PUBLIC__/assets/ico/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="__PUBLIC__/assets/ico/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="__PUBLIC__/assets/ico/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="__PUBLIC__/assets/ico/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="__PUBLIC__/assets/ico/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="__PUBLIC__/assets/ico/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="__PUBLIC__/assets/ico/apple-touch-icon-152x152.png" />
        
        <!-- start: CSS file-->
        
        <!-- Vendor CSS-->
        <link href="__PUBLIC__/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="__PUBLIC__/assets/vendor/skycons/css/skycons.css" rel="stylesheet" />
        <link href="__PUBLIC__/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="__PUBLIC__/assets/vendor/css/pace.preloader.css" rel="stylesheet" />
        
        <!-- Plugins CSS-->
        <link href="__PUBLIC__/assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css" rel="stylesheet" />  
        <link href="__PUBLIC__/assets/plugins/scrollbar/css/mCustomScrollbar.css" rel="stylesheet" />
        <link href="__PUBLIC__/assets/plugins/bootkit/css/bootkit.css" rel="stylesheet" />
        <link href="__PUBLIC__/assets/plugins/magnific-popup/css/magnific-popup.css" rel="stylesheet" />
        <link href="__PUBLIC__/assets/plugins/fullcalendar/css/fullcalendar.css" rel="stylesheet" />
        <link href="__PUBLIC__/assets/plugins/jqvmap/jqvmap.css" rel="stylesheet" />
        
        <!-- Theme CSS -->
        <link href="__PUBLIC__/assets/css/jquery.mmenu.css" rel="stylesheet" />
        
        <!-- Page CSS -->       
        <link href="__PUBLIC__/assets/css/style.css" rel="stylesheet" />
        <link href="__PUBLIC__/assets/css/add-ons.min.css" rel="stylesheet" />
        
        <!-- end: CSS file-->   
        
        
        <!-- Head Libs -->
        <script src="__PUBLIC__/assets/plugins/modernizr/js/modernizr.js"></script>
        <style>
            .head{font-size: 12px;color:#fff;line-height: 40px;color:#AAA3BF; text-align: center;height:40px;background:#221D3B;}
            .head span{color:#afa;}
            .logo{color:#fff;font-size:22px;font-family: 华文正楷; text-align: center;line-height: 34px;}
            .hi{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
            .head div{height:40px;}
            .user{ font-weight: bold;font-family: 华文新魏;margin: 15px 0;}
        </style>
</head>
<body>
    <div class="head row">
        <div class="container">
            <div class="logo col-md-2"><img src="__PUBLIC__/home/logo.jpg" alt=""> QQ 空间</div>
            <div class="col-md-1" style="width:9%;"><span class="glyphicon glyphicon-user"></span> 个人中心</div>
            <div class="col-md-1" style="width:9%;"><span class="glyphicon glyphicon-home"></span> 我的主页</div>
            <div class="col-md-1"><span class="glyphicon glyphicon-user"></span> 好友</div>
            <div class="col-md-1"><span class="glyphicon glyphicon-th"></span> 游戏</div>
            <div class="col-md-1"><span class="glyphicon glyphicon-leaf"></span> 装扮</div>
            
            <div class=" col-md-1"><span class="glyphicon glyphicon-stats"></span> <span class="glyphicon glyphicon-play"></span></div>
            <div class="hi col-md-1" style="height:40px; width:10%;">
                <img src="__PUBLIC__/home/default.jpg" alt="">用户姓名
            </div>
            <div class=" col-md-1" style="width:1%;"><span class="glyphicon glyphicon-log-in"></span> </div>
            <div class=" col-md-1" style="width:1%;"><span class="glyphicon glyphicon-cog"></span> </div>
            
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="user col-md-12"><h2 style="font-size:3em;">用户的空间</h2></div>
        </div>
    </div>
</body>
</html>

        <script src="__PUBLIC__/assets/vendor/js/jquery.min.js"></script>
        <script src="__PUBLIC__/assets/vendor/js/jquery-2.1.1.min.js"></script>
        <script src="__PUBLIC__/assets/vendor/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="__PUBLIC__/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/assets/js/jquery.mmenu.min.js"></script>
        <script src="__PUBLIC__/assets/js/core.min.js"></script>